# Project: Wrangling and Analyze Data

## Data Gathering

In this section of the project the three datasets required will be gathered from different sources using three different method

1. Manually download the the twitter_archive_enhanced.csv file using the link provided
2. programatically download the image_prediction.csv file using the request libraryget function
3. using the tweepy library, query the twitter api for additional information on the weratedaog account tweets.


1. Directly download the WeRateDogs Twitter archive data (twitter_archive_enhanced.csv)

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os
import requests
import matplotlib.pyplot as plt
import configparser
import tweepy as tw
import json
import time
from tqdm import tqdm

In [11]:
# gathering the first data set
df_archive=pd.read_csv('twitter-archive-enhanced.csv')
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

2. Use the Requests library to download the tweet image prediction (image_predictions.tsv)

In [7]:
# open a folder to save into
folder_name= os.getcwd()
if not os.path.exists(folder_name):
          os.makedirs(folder_name)

In [8]:
# get the file from the site

url= 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response= requests.get(url)
response

In [9]:
# saving to file
with open(os.path.join(folder_name,url.split('/')[-1]), mode='wb') as file:
            file.write(response.content)
# cheking the dir
os.listdir(folder_name)

['.ipynb_checkpoints',
 'image-predictions.tsv',
 'twitter-archive-enhanced-2.csv',
 'wrangle_act_1(Data Gathering).ipynb']

In [10]:
df_img_predictions=pd.read_csv('image-predictions.tsv',sep='\t')
df_img_predictions

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
...,...,...,...,...,...,...,...,...,...,...,...,...
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [8]:
df_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,8.924210e+17,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,8.921770e+17,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,8.918150e+17,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,8.916900e+17,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,8.913280e+17,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

3. Use the Tweepy library to query additional data via the Twitter API (tweet_json.txt)

In [9]:
# reading the api_key, api_key_secret, 
#access_token and access_token_secret from a json file.

with open('config_file.json', 'r') as file:
   config_data = json.load(file)

api_key = config_data['api_key']
api_key_secret = config_data['api_key_secret']
access_token = config_data['access_token'] 
access_token_secret = config_data['access_token_secret']

In [10]:
# accesing the twitter api with the config_data items.
auth =tw.OAuthHandler(api_key,api_key_secret)
auth.set_access_token(access_token,access_token_secret)
api= tw.API(auth,wait_on_rate_limit=True)
api

In [14]:
tweet_ids=df_img_predictions['tweet_id']
ids=tweet_ids[0]
tweet=api.get_status(692187005137076224)
tweet.text

'This is a rare Arctic Wubberfloof. Unamused by the happenings. No longer has the appetites. 12/10 would totally hug https://t.co/krvbacIX0N'

In [15]:
# fetching the tweet_ids from the df_img_predictions DataFrame
tweet_ids=df_img_predictions['tweet_id']
#tweet=api.get_status(id_1)
#tweet=api.get_status(806629075125202948,tweet_mode='extended')
#tweet.full_text

In [17]:
# getting the status for each tweet_id
tweet_j=[]
tweet_j_error={}
tweet_j_error['tweet_id']=[]
tweet_j_error['error_msg']=[]
for ids in tqdm(tweet_ids, desc='progress'):
    
    try:
        response = api.get_status(ids,tweet_mode='extended')
        tweet_j.append(response)
        
        
        
    
    except Exception as e:
        tweet_j_error['tweet_id'].append(ids)
        tweet_j_error['error_msg'].append(e)

progress: 100%|██████████████████████████████████████████████████████████████████| 2075/2075 [1:09:17<00:00,  2.00s/it]

In [18]:
#tweet ids that generated error
tweet_j_error

{'tweet_id': [680055455951884288,
  754011816964026368,
  759566828574212096,
  759923798737051648,
  771004394259247104,
  779123168116150273,
  802247111496568832,
  829374341691346946,
  837012587749474308,
  837366284874571778,
  842892208864923648,
  844704788403113984,
  851861385021730816,
  851953902622658560,
  861769973181624320,
  872261713294495745,
  873697596434513921,
  888202515573088257],
 'error_msg': [tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.Forbidden('403 Forbidden\n179 - Sorry, you are not authorized to see this status.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.')]}

In [20]:
# for the rest of the ids there are no file found
tweet_j_error2

{'tweet_id': [680055455951884288,
  754011816964026368,
  759566828574212096,
  759923798737051648,
  771004394259247104,
  779123168116150273,
  802247111496568832,
  829374341691346946,
  837012587749474308,
  837366284874571778,
  842892208864923648,
  844704788403113984,
  851861385021730816,
  851953902622658560,
  861769973181624320,
  872261713294495745,
  873697596434513921,
  888202515573088257],
 'error_msg': [tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.Forbidden('403 Forbidden\n179 - Sorry, you are not authorized to see this status.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.'),
  tweepy.errors.NotFound('404 Not Found\n144 - No status found with that ID.')]}

In [21]:
# A DataFrame of all tweet_id not found error
df_error=pd.DataFrame(tweet_j_error2)

In [22]:
# save to a csv file
df_error.to_csv('deleted_tweets.csv', index=False)

In [23]:
# creating a txt file out of the list of json response

for tweet in tweet_j:
    x=json.dumps(tweet._json)
    with open('tweet_json.txt','a') as file:
            file.write(x)
            file.write('\n')

In [113]:
# extracting required field for analysis from the tweet_j list
# creating a list of keys
key_list=[]
for key in tweet_j[0]._json:
    x=key
    key_list.append(x)
print(key_list)

['created_at', 'id', 'id_str', 'full_text', 'truncated', 'display_text_range', 'entities', 'extended_entities', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'possibly_sensitive_appealable', 'lang']

In [24]:
#create a list of dictionaries containing content of status
created_at=[]
id_=[]
full_text=[]
entities=[]
source=[]
in_reply_to_status_id=[]
in_reply_to_user_id=[]
in_reply_to_screen_name=[]
user=[]
geo=[]
coordinates=[]
place=[]
contributors=[]
is_quote_status=[]
retweet_count=[]
favorite_count=[]
favorited=[]
retweeted=[]
lang=[]
for status in tweet_j:
    content=status._json
    created_at.append(content['created_at'])
    id_.append(content['id'])
    full_text.append(content['full_text'])
    entities.append(content['entities'])
    source.append(content['source'])
    in_reply_to_status_id.append(content['in_reply_to_status_id'])
    in_reply_to_user_id.append(content['in_reply_to_user_id'])
    in_reply_to_screen_name.append(content['in_reply_to_screen_name'])
    user.append(content['user'])
    geo.append(content['geo'])
    coordinates.append(content['coordinates'])
    place.append(content['place'])
    contributors.append(content['contributors'])
    is_quote_status.append(content['is_quote_status'])
    retweet_count.append(content['retweet_count'])
    favorite_count.append(content['favorite_count'])
    favorited.append(content['favorited'])
    retweeted.append(content['retweeted'])
    lang.append(content['lang'])
    

tweet_dict={'created_at':created_at,'id':id_,'full_text':full_text,'entities':entities,'source':source,\
            'in_reply_to_status_id':in_reply_to_status_id,'in_reply_to_user_id':in_reply_to_user_id,\
           'in_reply_to_screen_name':in_reply_to_screen_name,'user':user,'geo':geo,'coordinates':coordinates,\
            'place':place,'contributors':contributors,'is_quote_status':is_quote_status,'retweet_count':retweet_count,\
           'favorite_count':favorite_count,'favorited':favorited,'retweeted':retweeted,'lang':lang}

In [25]:
# create a DataFrame of all tweet status
df=pd.DataFrame(tweet_dict)
df.head()

,created_at,id,full_text,entities,source,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang
0,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,422,2292,False,False,en
1,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,This is a western brown Mitsubishi terrier. Up...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,39,112,False,False,en
2,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,Here is a very happy pup. Big fan of well-main...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,36,100,False,False,en
3,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,115,247,False,False,en
4,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,None,"{'id': 4196983835, 'id_str': '4196983835', 'na...",None,None,None,None,False,37,89,False,False,en

In [ ]:
df.to_csv('tweet_dataframe.csv', index=False)

Next stage is the assessing and cleaning stage.where the gathered data set will be assessed for tidyness and quality issues.

### continued in the notebook (wrangle_act2(Assessing and Cleaning))