## Assessing and Cleaning

Having gathered all the three data set required for this project, in this set of excercises, the data will be assessed for tidyness issues and will be cleaned using several tools and techniques inorder to make the data usable for generating insights and visualization.

In [94]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import datetime

In [95]:
# load the three data set
df_twitter_response=pd.read_csv('tweet_dataframe.csv')
df_image_prediction=pd.read_csv('image-predictions.tsv', sep='\t')
df_twitter_archive=pd.read_csv('twitter-archive-enhanced.csv')

#### Visual and Programmatic assessment 

Looking through the data set and quering using code for various tydiness and quality issues.

In [96]:
df_twitter_response.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   created_at               2057 non-null   object
 1   id                       2057 non-null   int64
 2   full_text                2057 non-null   object
 3   entities                 2057 non-null   object
 4   source                   2057 non-null   object
 5   in_reply_to_status_id    23 non-null     float64
 6   in_reply_to_user_id      23 non-null     float64
 7   in_reply_to_screen_name  23 non-null     object
 8   user                     2057 non-null   object
 9   geo                      0 non-null      float64
 10  coordinates              0 non-null      float64
 11  place                    1 non-null      object
 12  contributors             0 non-null      float64
 13  is_quote_status          2057 non-null   bool
 14  retweet_count            2057 non-null   int64
 15  favorite_count           2057 non-null   int64
 16  favorited                2057 non-null   bool
 17  retweeted                2057 non-null   bool
 18  lang                     2057 non-null   object
dtypes: bool(3), float64(5), int64(3), object(8)
memory usage: 263.3+ KB

In [97]:
df_image_prediction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [98]:
df_twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [99]:
df_twitter_response[~df_twitter_response['in_reply_to_status_id'].isnull()]

,created_at,id,full_text,entities,source,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang
183,Wed Nov 25 03:14:30 +0000 2015,669353438988365824,This is Tessa. She is also very pleased after ...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.678065e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,228,566,False,False,en
314,Tue Dec 01 16:37:44 +0000 2015,671729906628341761,I'm just going to leave this one here as well....,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.715610e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,3806,7491,False,False,en
453,Thu Dec 10 00:54:28 +0000 2015,674754018082705410,Just received another perfect photo of dogs an...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.747522e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,384,1229,False,False,en
460,Thu Dec 10 03:30:58 +0000 2015,674793399141146624,I have found another. 13/10 https://t.co/HwroP...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.717299e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,954,2223,False,False,en
463,Thu Dec 10 17:11:09 +0000 2015,674999807681908736,Ok last one of these. I may try to make some m...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.747934e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,957,1996,False,False,en
479,Fri Dec 11 16:20:15 +0000 2015,675349384339542016,Yea I lied. Here's more. All 13/10 https://t.c...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.749998e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,2001,3534,False,False,en
493,Sat Dec 12 16:02:36 +0000 2015,675707330206547968,We've got ourselves a battle here. Watch out R...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.754971e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,600,1786,False,False,en
502,Sun Dec 13 02:51:51 +0000 2015,675870721063669760,&amp; this is Yoshi. Another world record cont...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.757073e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,500,1469,False,False,en
692,Tue Jan 05 04:11:44 +0000 2016,684225744407494656,"Two sneaky puppers were not initially seen, mo...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.842229e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,184,1148,False,False,en
696,Wed Jan 06 00:54:18 +0000 2016,684538444857667585,"After watching this video, we've determined th...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.844811e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,856,2439,False,False,en
807,Wed Jan 27 00:31:15 +0000 2016,692142790915014657,These are some pictures of Teddy that further ...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.920419e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,355,1513,False,False,en
838,Tue Feb 02 03:08:26 +0000 2016,694356675654983680,This pupper only appears through the hole of a...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.706684e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,251,1388,False,False,en
849,Sat Feb 06 00:35:13 +0000 2016,695767669421768709,If you are aware of who is making these please...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.753494e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,666,1713,False,False,en
935,Sat Feb 27 03:42:44 +0000 2016,703425003149250560,Really guys? Again? I know this is a rare Alba...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.030419e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,1225,3509,False,False,en
950,Wed Mar 02 03:30:25 +0000 2016,704871453724954624,I found a forest Pipsy. 12/10 https://t.co/mIQ...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.671522e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,1018,3967,False,False,en
959,Fri Mar 04 16:06:36 +0000 2016,705786532653883392,"Seriously, add us üê∂ 11/10 for sad wet pupper h...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.032559e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,468,1798,False,False,en
1140,Tue May 10 01:00:58 +0000 2016,729838605770891264,"""Challenge completed"" \n(pupgraded to 12/10) h...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.291135e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,338,1603,False,False,en
1237,Sat Jun 25 21:34:37 +0000 2016,746818907684614144,Guys... Dog Jesus 2.0\n13/10 buoyant af https:...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.914169e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,1596,4957,False,False,en
1239,Sun Jun 26 03:22:31 +0000 2016,746906459439529985,"PUPDATE: can't see any. Even if I could, I cou...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.468859e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,271,2723,False,False,en
1609,Fri Nov 25 21:37:47 +0000 2016,802265048156610565,"Like doggo, like pupper version 2. Both 11/10 ...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.331095e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,1295,6622,False,False,en
1860,Thu Mar 23 18:29:57 +0000 2017,844979544864018432,PUPDATE: I'm proud to announce that Toby is 23...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",7.590995e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,2317,12692,False,False,en
1907,Mon Apr 24 15:13:52 +0000 2017,856526610513747968,"THIS IS CHARLIE, MARK. HE DID JUST WANT TO SAY...","{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",8.558181e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,1654,10831,False,False,en
1935,Fri May 12 17:12:53 +0000 2017,863079547188785154,Ladies and gentlemen... I found Pipsy. He may ...,"{'hashtags': [], 'symbols': [], 'user_mentions...","<a href=""http://twitter.com/download/iphone"" r...",6.671522e+17,4.196984e+09,dog_rates,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,953,7899,False,False,en

In [100]:
df_twitter_response['source'].sample(1)

1356    <a href="http://twitter.com/download/iphone" r...
Name: source, dtype: object

In [101]:
# The list of all languages for tweets
df_twitter_response['lang'].value_counts()

en    2049
nl       3
in       2
et       1
ro       1
eu       1
Name: lang, dtype: int64

In [102]:

print(sum(df_twitter_response['favorited']==True))
print(sum(df_twitter_response['retweeted']==True))
print(sum(df_twitter_response['is_quote_status']==True))

0
0
0

### Assessing the tweet_id column of the df_twitter_archive table

In [103]:
#count of observations with rating_denominator not equal to 10
df_twitter_archive[df_twitter_archive['rating_denominator']!=10].count()

tweet_id                      23
in_reply_to_status_id          5
in_reply_to_user_id            5
timestamp                     23
source                        23
text                          23
retweeted_status_id            1
retweeted_status_user_id       1
retweeted_status_timestamp     1
expanded_urls                 19
rating_numerator              23
rating_denominator            23
name                          23
doggo                         23
floofer                       23
pupper                        23
puppo                         23
dtype: int64

In [104]:
#count of observations with rating numerator greater than or equal to 15
df_twitter_archive['rating_numerator'][df_twitter_archive['rating_numerator']>15].count()

26

In [105]:
# observing the name field
df_twitter_archive[df_twitter_archive['name']=='a'].count()

tweet_id                      55
in_reply_to_status_id          0
in_reply_to_user_id            0
timestamp                     55
source                        55
text                          55
retweeted_status_id            0
retweeted_status_user_id       0
retweeted_status_timestamp     0
expanded_urls                 55
rating_numerator              55
rating_denominator            55
name                          55
doggo                         55
floofer                       55
pupper                        55
puppo                         55
dtype: int64

In [106]:
df_twitter_archive[df_twitter_archive['name']=='actually'].count()

tweet_id                      2
in_reply_to_status_id         0
in_reply_to_user_id           0
timestamp                     2
source                        2
text                          2
retweeted_status_id           0
retweeted_status_user_id      0
retweeted_status_timestamp    0
expanded_urls                 2
rating_numerator              2
rating_denominator            2
name                          2
doggo                         2
floofer                       2
pupper                        2
puppo                         2
dtype: int64

## ASSESSING

### tidyness issues
- The `entities` field contains more than one data points per observation.
- The four fields `doggo`, `floofer`, `pupper`, `puppo` are all variables of a single field `growth_stage`
- There are six fields in the image_prediction table answering the same question of, what breed is the dog `p1`, `p1_conf`, `p2`, `p2_conf`, `p3`, `p3_conf`.
- There are 3 fields in the image_prediction table answering the same question, is it a Dog? `p1_dog`,`p2_dog` and `p3_dog`.
- Generally, there are a number of duplicate fields across the table.
- There are two observational units in these dataset. The dog details and the tweets details.

### df_twitter_response Table
> #### Quality
- All 23 non null values in `in_reponse_to_status_id` and in `in_reponse_to_screen_name` are from the same user, '4196983835', dog_rates.
- The ``user`` column contains information of the twitter handle `We Rate Dogs` and its constant for all observation therefore not relevant for the analysis`
- `favorited`, `retweeted` and `is_quote_status` have only False values. Since their values are the same for all observations. they are not relevant for our analysis
- The following tables have only null values `geo`,`coordinates`,`place`,and `contributors`.


### df_twitter_archive
> #### Quality
- `in_reply_to_status_id` field does not contain accurate status id information
- `in_reply_to_user_id` field does not contain significant information for this analysis
- ``retweeted_status_id``, ``retweeted_status_user_id`` and ``retweeted_status_timestamp`` are indication of retweeted status  which constitutes  duplicated observations.
- The required information from the `source` field is not explicitly expressed in the field
- `rating_numerator` values greater than 15 are most likely not correct.there are 25 observations with values greater than 15
- `rating_denominator` should be 10. There are 23 observations with values not equal to 10
- Timestamp column is a string type object instead of a datetime object 
- Observing some unlikely names in the `name` column
    - 55 dogs are named **a**
    - 2 dogs were named **actually**
    - 1 was named **all**
    - 7 was named **an**
    - 1 was named **by**
    - 1 was named **his**
    - 4 were named **just**
    - 1 was named **life**
    - 2 were named **not**
    - 1 was named **O**
    - 4 were named **one**
    - 1 was named **this**
    - 1 was named **unacceptable**
    - 1 was named **old**
    - 1 was named **space**
    - 8 was named **the**
    - 1 was named **officially**

### image_predictions
> #### Quality
- Not all observatons are dogs

# Cleaning

#### First we need to create copies of the three dataframes

In [107]:
# creating copies
df_twitter_response_clean = df_twitter_response.copy()
df_twitter_archive_clean = df_twitter_archive.copy()
df_image_prediction_clean = df_image_prediction.copy()

## Tidyness Issues

- **1** The entities field contains more than one data points per observation.
- **2** The four fields doggo, floofer, pupper, puppo are all variables of a single field growth_stage
- **3** There are 3 fields in the image_prediction table answering the same question, is it a Dog? p1_dog,p2_dog and p3_dog.
- **4** There are six fields in the image_prediction table answering the same question of, what breed is the dog p1, p1_conf, p2, p2_conf, p3, p3_conf.
- **5** Generally, there are a number of duplicate fields across the table.
- **6** There are two observational units in these dataset. The dog details and the tweets details.

- **1** The `entities` column contains more than one data points per observation.

#### Define
- Extract the largest image size per observation from the entities column
- convert these values to integer
- multiply the width and height information and divide by 1000000 to obtain the resolution in mega pixel
- Drop the entities column and other intermediate column.

#### Code

In [108]:
# using regex to extract desired pattern.
df_twitter_response_clean[['img_width','img_height']]= df_twitter_response_clean['entities'].str.extract(
    r"'large':\s\D{2}\w\D+\s(\d+)\D\s\D\w\D:\s(\d+)")

# convert the type to integer
df_twitter_response_clean['img_width'] = df_twitter_response_clean.img_width.astype(int)

# convert the type to integer
df_twitter_response_clean.img_height = df_twitter_response_clean.img_height.astype(int)

# multiplying the two columns img_width by img_height
df_twitter_response_clean = df_twitter_response_clean.assign(img_resolution_MP = lambda x: round(
    x['img_width']*x['img_height']/1000000,2))

In [109]:
# we will drop the 'entities' column as well as the 'img_width' and 'img_height'
df_twitter_response_clean.drop(['entities', 'img_width', 'img_height'], axis = 1, inplace=True)

In [110]:
df_image_prediction_clean.sample(20)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
1795,831315979191906304,https://pbs.twimg.com/media/C4lst0bXAAE6MP8.jpg,4,briard,0.982755,True,soft-coated_wheaten_terrier,0.009084,True,Bouvier_des_Flandres,0.004693,True
1921,856526610513747968,https://pbs.twimg.com/media/C-L-aIYXgAIR0jY.jpg,1,Old_English_sheepdog,0.798481,True,Tibetan_terrier,0.060602,True,standard_poodle,0.040722,True
40,666691418707132416,https://pbs.twimg.com/media/CUCQTpEWEAA7EDz.jpg,1,German_shepherd,0.975401,True,beagle,0.008687,True,bloodhound,0.005394,True
897,699775878809702401,https://pbs.twimg.com/media/CbYac83W4AAUH1O.jpg,1,Dandie_Dinmont,0.271683,True,Old_English_sheepdog,0.164931,True,otterhound,0.105918,True
498,675820929667219457,https://pbs.twimg.com/media/CWD_jQMWEAAdYwH.jpg,1,basset,0.556373,True,beagle,0.201675,True,bloodhound,0.110848,True
982,707387676719185920,https://pbs.twimg.com/media/CdElVm7XEAADP6o.jpg,1,Chihuahua,0.888468,True,Italian_greyhound,0.088635,True,toy_terrier,0.015938,True
762,688898160958271489,https://pbs.twimg.com/media/CY91OENWUAE5agj.jpg,1,Ibizan_hound,0.853170,True,Chihuahua,0.039897,True,Italian_greyhound,0.035220,True
428,674262580978937856,https://pbs.twimg.com/media/CVt2PawWIAEUkqW.jpg,1,Greater_Swiss_Mountain_dog,0.519428,True,boxer,0.121500,True,Staffordshire_bullterrier,0.114498,True
1379,764857477905154048,https://pbs.twimg.com/media/Cp1R0ZTWcAAaPO4.jpg,1,Bernese_mountain_dog,0.792059,True,Appenzeller,0.155034,True,EntleBucher,0.038374,True
1320,756288534030475264,https://pbs.twimg.com/media/Cn7gaHrWIAAZJMt.jpg,3,conch,0.925621,False,French_bulldog,0.032492,True,tiger_cat,0.006679,False
1380,765222098633691136,https://pbs.twimg.com/media/Cp6db4-XYAAMmqL.jpg,1,dalmatian,0.556595,True,whippet,0.151047,True,American_Staffordshire_terrier,0.096435,True
221,670093938074779648,https://pbs.twimg.com/media/CUym4Y5WsAEiI9_.jpg,1,toy_poodle,0.383346,True,miniature_poodle,0.153678,True,chow,0.138543,True
1876,845812042753855489,https://pbs.twimg.com/media/C7ztkInW0AEh1CD.jpg,1,Samoyed,0.979803,True,chow,0.015923,True,white_wolf,0.001303,False
1903,851953902622658560,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1,Staffordshire_bullterrier,0.757547,True,American_Staffordshire_terrier,0.149950,True,Chesapeake_Bay_retriever,0.047523,True
1230,745712589599014916,https://pbs.twimg.com/media/CllNnkWWMAEDIAR.jpg,1,seat_belt,0.379055,False,chow,0.062754,True,minibus,0.052423,False
1914,854120357044912130,https://pbs.twimg.com/media/C9px7jyVwAAnmwN.jpg,4,black-and-tan_coonhound,0.854861,True,Doberman,0.050792,True,bluetick,0.021762,True
1592,798673117451325440,https://pbs.twimg.com/media/CV_cnjHWUAADc-c.jpg,1,dough,0.806757,False,bakery,0.027907,False,French_loaf,0.018189,False
622,680497766108381184,https://pbs.twimg.com/media/CXGdG0aWcAEbOO1.jpg,1,Chihuahua,0.538354,True,muzzle,0.084289,False,ski_mask,0.076690,False
442,674632714662858753,https://pbs.twimg.com/media/CVzG3yOVAAAqi9I.jpg,1,jellyfish,0.432748,False,goldfish,0.113111,False,coral_reef,0.087047,False
1086,718631497683582976,https://pbs.twimg.com/media/CfkXiX6W4AAmICF.jpg,1,Pomeranian,0.993718,True,Pekinese,0.003611,True,Persian_cat,0.000525,False

#### Test

In [111]:
df_twitter_response_clean.head()

,created_at,id,full_text,source,in_reply_to_status_id,in_reply_to_user_id,in_reply_to_screen_name,user,geo,coordinates,place,contributors,is_quote_status,retweet_count,favorite_count,favorited,retweeted,lang,img_resolution_MP
0,Sun Nov 15 22:32:08 +0000 2015,666020888022790149,Here we have a Japanese Irish Setter. Lost eye...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,422,2292,False,False,en,0.69
1,Sun Nov 15 23:05:30 +0000 2015,666029285002620928,This is a western brown Mitsubishi terrier. Up...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,39,112,False,False,en,0.79
2,Sun Nov 15 23:21:54 +0000 2015,666033412701032449,Here is a very happy pup. Big fan of well-main...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,36,100,False,False,en,0.70
3,Mon Nov 16 00:04:52 +0000 2015,666044226329800704,This is a purebred Piers Morgan. Loves to Netf...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,115,247,False,False,en,0.79
4,Mon Nov 16 00:24:50 +0000 2015,666049248165822465,Here we have a 1949 1st generation vulpix. Enj...,"<a href=""http://twitter.com/download/iphone"" r...",NaN,NaN,NaN,"{'id': 4196983835, 'id_str': '4196983835', 'na...",NaN,NaN,NaN,NaN,False,37,89,False,False,en,0.79

- **2** The four fields doggo, floofer, pupper, puppo are all variable of a single field growth_stage

#### Define
- using extract get all the growth_stage categories from text column
- replace all Nan with 'None'
- convert all text to lower case
- drop initial columns representing the dog_growth_stages

#### code

In [112]:
# using extract get all the growth_stage categories from text column
df_twitter_archive_clean['dog_growth_stage'] = df_twitter_archive_clean['text'].str.extract(
    r'(doggo|pupper|floofer|puppo)', flags=re.IGNORECASE)

# replace all Nan with 'None'
df_twitter_archive_clean['dog_growth_stage']=df_twitter_archive_clean['dog_growth_stage'].replace(
    to_replace=np.nan,value='None')

# convert all text to lower case
df_twitter_archive_clean['dog_growth_stage']=df_twitter_archive_clean['dog_growth_stage'].str.lower()

In [113]:
df_twitter_archive_clean = df_twitter_archive_clean.drop(['doggo','floofer','pupper','puppo'], axis=1)

#### Test

In [114]:
#check that all available informations were captured
df_twitter_archive_clean['dog_growth_stage'].value_counts()

none       1933
pupper      276
doggo       100
puppo        38
floofer       9
Name: dog_growth_stage, dtype: int64

In [115]:
# checked that the intial columns have been droped
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  dog_growth_stage            2356 non-null   object
dtypes: float64(4), int64(3), object(7)
memory usage: 257.8+ KB

- **3** There are 3 fields in the image_prediction table answering the same question, is it a Dog? p1_dog,p2_dog and p3_dog.

#### Define
##### first create mask for three different conditions based on field p1_dog, p2_dog and p3_dog

- mask1 filters the dataframe for when all three fields are true
- mask2 filters for when at least three fields are true
- mask3 filters for when at least one field is true

##### Creates dataframe for when :
- Three predictions are True
- Two predictions are True
- One prediction is True

#### Code

##### creating mask1, mask2 and mask3

In [116]:
# creating mask1
mask1=(df_image_prediction_clean.p1_dog 
       == True)|(df_image_prediction_clean.p2_dog 
       == True)|(df_image_prediction_clean.p3_dog == True)

# creating mask2
mask2=((df_image_prediction_clean.p1_dog 
        == True) & (df_image_prediction_clean.p2_dog
        == True)) | ((df_image_prediction_clean.p1_dog
        == True) &(df_image_prediction_clean.p3_dog
        == True)) | ((df_image_prediction_clean.p2_dog
        == True) & (df_image_prediction_clean.p3_dog == True))

# creating mask3      
mask3=(df_image_prediction_clean.p1_dog 
       == True) & (df_image_prediction_clean.p2_dog 
       == True) & (df_image_prediction_clean.p3_dog == True)

In [117]:
# Creates a datframe for when all three prediction fields are True
df_pred_3True = df_image_prediction_clean[mask3].copy()

# Creates a dataframe for when two of the predictions are True 
df_pred_2True_int= df_image_prediction_clean[mask2].copy()
df_pred_2True = df_pred_2True_int[~df_pred_2True_int.isin(df_pred_3True)].dropna()

# Creates a dataframe for when one of the prediction is True
df_pred_123True= df_image_prediction_clean[mask1].copy()
df_pred_1True = df_pred_123True[~df_pred_123True.isin(df_pred_2True_int)].dropna()

#### Test

In [118]:
# Test that there are no False value in df_pred_3True
sum((df_pred_3True['p1_dog']==False) 
    + (df_pred_3True['p2_dog']==False) 
    + (df_pred_3True['p3_dog']==False))

0

In [119]:
# The length of observations in df_pred_2True is 347
len(df_pred_2True)

347

In [120]:
# Test to ensure that the number of False values in the three prediction fields is 347
sum((df_pred_2True['p1_dog']==False) 
    + (df_pred_2True['p2_dog']==False) 
    + (df_pred_2True['p3_dog']==False))

347

In [121]:
# The length of observations in df_pred_1True is 161
len(df_pred_1True)

161

In [122]:
# Test to ensure that the number of True values in the three prediction fields is 161
sum((df_pred_1True['p1_dog']==True) 
    + (df_pred_1True['p2_dog']==True) 
    + (df_pred_1True['p3_dog']==True))

161

- **4** There are six fields in the image_prediction table answering the same question of, what breed is the dog ``p1``, ``p1_conf``, ``p2``, ``p2_conf``, ``p3``, ``p3_conf``.

#### Define
- We will create a function breed_selector that will select the prediction with the highest confidence value for the breed of the dog. 

- in passing the dataframes,`df_pred_3True`,``df_pred_2True`` and `df_pred_1True` created in the previous step through the predictor we will treat each groups slightly differently.

- The ``df_pred_3True`` group contains three (3) dog prediction that is True. i.e The three predictors predict that the image is that of a dog. we will pass this through the breed selector function as is.

- The ``df_pred_2True`` group contains two (2) dog prediction that is True. i.e Two predictors predict that the image is that of a dog. we will first pass this through a function that will round down the confidence value for the False prediction to '0' then we will pass it through the breed selector.

- The ``df_pred_1True`` group contains one (1) dog prediction that is True. i.e One predictor predicts that the image is that of a dog. we will first pass this through a function that will round up the confidence value for the True prediction to '1' then we will pass it through the breed selector.

- **Finally**, we will concatenate the resulting dataframes for the process into a single dataframe

#### Code

##### Selecting dog breed from df_pred_3True.

In [123]:
def breed_selector(df):
    
    '''
    This function selects the dog breed from the dog breed prediction that
    has the highest level of confidence
    
    args:
    df(DataFrame) Takes the DataFrame containing the prediction parameters,
                    'prediction' and 'prediction_confidence' from three different
                    predictions.
    
    returns:
    df(DataFrame) The DataFrame with the column, 'breed', containing the most likely 
                  breed of the dog.
    
    '''
    
    # return a list of the prediction with the highest level of confidence and the confidence value 
    df['breed_int'] = df.apply(lambda x: [x.loc['p1'],
                               x.loc['p1_conf']] 
                               if x.loc['p1_conf'] > x.loc['p2_conf'] 
                               else [x.loc['p2'],x.loc['p1_conf']], axis =1)

    # extract the prediction and the confidence level into separate columns
    df['breed_intermediate']=df['breed_int'].apply(lambda x: x[0])
    df['breed_intermediate_conf']=df['breed_int'].apply(lambda x: x[1])

    # compare the values in these two columns against the third prediction. 
    df['breed'] = df.apply(lambda x: x.loc['breed_intermediate'] 
                           if x.loc['breed_intermediate_conf'] > x.loc['p3_conf'] 
                           else x.loc['p3'], axis =1)
    return(df)

In [124]:
# employ the breed_selector function to pick the best breed prediction for df_pred_3True
df_pred_3True = breed_selector(df_pred_3True).copy()

#### Selecting dog breed from df_pred_2True

##### A function to round the confidence value of every dog prediction that is false to '0'

In [125]:
def round_down_conf(df,x,y):
    '''
    rounds down the value of confidence value for dog predictions that are False
    
    Args:
    df(Dataframe) the dataframe containing the dog prediction
    x (integer) referencing the column with True/False prediction of whether the picture is a dog
    y (string) the name of the confidence value column
    
    
    returns:
    df_p1(DataFrame) The dataframe with the required confidence value rounded down to 0
    
    '''
    
    # filtering the dataset for rows where p1_dog is False
    df_p1=df[df.iloc[:,x]==False].copy()

    # Assigning 0 to every p1_conf value
    df_p1.drop(y,axis=1)
    df_p1.loc[:,y]=0
    
    return(df_p1)

In [126]:
# round down p1_conf for all False prediction for p1_dog
df_pred_2True_p1 = round_down_conf(df_pred_2True,5,'p1_conf')

# round down p2_conf for all False prediction for p2_dog
df_pred_2True_p2 = round_down_conf(df_pred_2True,8,'p2_conf')

# round down p3_conf for all False prediction for p3_dog
df_pred_2True_p3 = round_down_conf(df_pred_2True,11,'p3_conf')

In [127]:
#concatenate the three DataFrame for df_pred_2True
df_pred_2True=pd.concat([df_pred_2True_p1,df_pred_2True_p2,df_pred_2True_p3], ignore_index=True)

In [128]:
# employ the breed_selector function to pick the best breed prediction for df_pred_2True
df_pred_2True = breed_selector(df_pred_2True)

#### Selecting dog breed from df_pred_1True

##### A function to round the confidence value of every dog prediction that is True to '1'

In [129]:
def round_up_conf(df,x,y):
    '''
    rounds up the value of confidence value for dog predictions that are True
    
    Args:
    df(Dataframe) the dataframe containing the dog prediction
    x (integer) referencing the column with True/False prediction of whether the picture is a dog
    y (string) the name of the confidence value column
    
    
    returns:
    df_p1(DataFrame) The dataframe with the required confidence value rounded up to 1
    
    '''
    
    # filtering the dataset for rows where p1_dog is False
    df_p1=df[df.iloc[:,x]==True].copy()

    # Assigning 0 to every p1_conf value
    df_p1.drop(y,axis=1)
    df_p1.loc[:,y]=1
    
    return(df_p1)

In [130]:
# round up p1_conf for all True prediction for p1_dog
df_pred_1True_p1 = round_up_conf(df_pred_1True,5,'p1_conf')

# round down p2_conf for all True prediction for p2_dog
df_pred_1True_p2 = round_up_conf(df_pred_1True,8,'p2_conf')

# round down p3_conf for all True prediction for p3_dog
df_pred_1True_p3 = round_up_conf(df_pred_1True,11,'p3_conf')

In [131]:
df_pred_1True = pd.concat([df_pred_1True_p1,df_pred_1True_p2,df_pred_1True_p3], 
                          ignore_index=True)

In [132]:
# employ the breed_selector function to pick the best breed prediction for df_pred_1True
df_pred_1True = breed_selector(df_pred_1True)

In [133]:
# Concatenating the entire result 
df_image_prediction_clean = pd.concat([df_pred_1True,df_pred_2True,df_pred_3True], 
                                      ignore_index = True)

- We will drop the prediction columns `p1`, `p1_conf`, `p2`, `p2_conf`, `p3` and `p3_conf` as well as the intermediate columns, `breed_intermediate` and `breed_intermediate_conf` and also, ``p_fact_dog``.

In [134]:
df_image_prediction_clean = df_image_prediction_clean.drop(['p1','p1_conf','p2',
                                                            'p2_conf','p3','p3_conf','p1_dog',
                                                            'p2_dog','p3_dog','breed_int','breed_intermediate',
                                                            'breed_intermediate_conf'], axis=1)

In [135]:
#convert tweet_id to integer
df_image_prediction_clean[['tweet_id','img_num']] = df_image_prediction_clean[['tweet_id',
                                                                               'img_num']].astype(np.int64)

#### Test

In [136]:
df_image_prediction_clean['breed'].value_counts()

golden_retriever        165
Labrador_retriever      116
Pembroke                 95
Chihuahua                92
pug                      65
                       ...
Scotch_terrier            1
Irish_wolfhound           1
Bouvier_des_Flandres      1
silky_terrier             1
clumber                   1
Name: breed, Length: 113, dtype: int64

In [137]:
df_image_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1751 entries, 0 to 1750
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  1751 non-null   int64
 1   jpg_url   1751 non-null   object
 2   img_num   1751 non-null   int64
 3   breed     1751 non-null   object
dtypes: int64(2), object(2)
memory usage: 54.8+ KB

- **5** Generally, there are a number of duplicate fields across the table.

#### Define
Duplicate field in the ``df_twitter_response_clean `` will be dropped.
List of duplicate field that will be dropped
- created_at
- full_text
- source
- in_reply_to_status_id
- in_reply_to_user_id

#### Code

In [138]:
# Dropping the listed columns in the twitter_reponse_clean table
df_twitter_response_clean = df_twitter_response_clean.drop(['created_at','full_text','source','in_reply_to_status_id','in_reply_to_user_id'], axis=1)

#### Test

In [139]:
df_twitter_response_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2057 entries, 0 to 2056
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       2057 non-null   int64
 1   in_reply_to_screen_name  23 non-null     object
 2   user                     2057 non-null   object
 3   geo                      0 non-null      float64
 4   coordinates              0 non-null      float64
 5   place                    1 non-null      object
 6   contributors             0 non-null      float64
 7   is_quote_status          2057 non-null   bool
 8   retweet_count            2057 non-null   int64
 9   favorite_count           2057 non-null   int64
 10  favorited                2057 non-null   bool
 11  retweeted                2057 non-null   bool
 12  lang                     2057 non-null   object
 13  img_resolution_MP        2057 non-null   float64
dtypes: bool(3), float64(4), int64(3), object(4)
memory usage: 182.9+ KB

## Quality issues


- The ``user`` column contains information of the twitter handle `We Rate Dogs` and its constant for all observation therefore not relevant for the analysis`
- The following tables have only null values `geo`,`coordinates`,`place`,and `contributors`.
- `favorited`, `retweeted` and `is_quote_status` have only False values. Since their values are the same for all observations. they are not relevant for our analysis

#### Define
we will drop all irrelevant columns

#### Code

In [140]:
# dropping the text and source fields
df_twitter_response_clean.drop(['user','geo', 'coordinates', 'place', 
                               'contributors','favorited','retweeted', 'is_quote_status',
                                'in_reply_to_screen_name'], axis = 1, inplace = True)

#### Test

In [141]:
df_twitter_response_clean

,id,retweet_count,favorite_count,lang,img_resolution_MP
0,666020888022790149,422,2292,en,0.69
1,666029285002620928,39,112,en,0.79
2,666033412701032449,36,100,en,0.70
3,666044226329800704,115,247,en,0.79
4,666049248165822465,37,89,en,0.79
...,...,...,...,...,...
2052,891327558926688256,7757,35308,en,0.39
2053,891689557279858688,7224,36929,en,1.92
2054,891815181378084864,3478,22045,en,1.92
2055,892177421306343426,5301,29324,en,2.25
2056,892420643555336193,7003,33811,en,0.29

- `in_reply_to_status_id` field does not contain accurate status id information
- `in_reply_to_user_id` field does not contain significant information for this analysis

#### Define

Drop `in_reply_to_status_id` and `in_reply_to_user_id` fields.

#### Code

In [142]:
df_twitter_archive_clean.drop(['in_reply_to_status_id',
                               'in_reply_to_user_id'], axis=1,inplace=True)

#### Test

In [143]:
df_twitter_archive_clean.head()

,tweet_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,dog_growth_stage
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,none
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,none
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,none
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,none
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,none

``retweeted_status_id``, ``retweeted_status_user_id`` and ``retweeted_status_timestamp`` are indication of retweeted status which constitutes duplicated observations

#### Define
- Remove observations with retweeted status since they constitute duplicates.

#### Code

In [144]:
df_twitter_archive_clean=df_twitter_archive_clean[df_twitter_archive_clean.retweeted_status_id.isnull()]

#### Test

In [145]:
df_twitter_archive_clean[~df_twitter_archive_clean.retweeted_status_id.isnull()]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, dog_growth_stage]
Index: []

#### Define
- Remove ``retweeted_status_id``, ``retweeted_status_user_id`` and ``retweeted_status_timestamp`` columns

#### Code

In [146]:
df_twitter_archive_clean = df_twitter_archive_clean.drop(['retweeted_status_id',
                                                          'retweeted_status_user_id','retweeted_status_timestamp'],axis=1)

#### Test

In [147]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2175 non-null   int64
 1   timestamp           2175 non-null   object
 2   source              2175 non-null   object
 3   text                2175 non-null   object
 4   expanded_urls       2117 non-null   object
 5   rating_numerator    2175 non-null   int64
 6   rating_denominator  2175 non-null   int64
 7   name                2175 non-null   object
 8   dog_growth_stage    2175 non-null   object
dtypes: int64(3), object(6)
memory usage: 169.9+ KB

The required information from the ``source`` field is not explicitly expressed in the field

#### Define
- Extracting the source information from the source column.

#### Code

In [148]:
# The source information is extracted from the source column
df_twitter_archive_clean['source']=df_twitter_archive_clean.source.str.extract(r'\>(\w+\s?-?\s?\w+?\s?\w+?\s?\w+?)\<')

#### Test

In [149]:
df_twitter_archive_clean.source.value_counts()

Twitter for iPhone     2042
Vine - Make a Scene      91
Twitter Web Client       31
TweetDeck                11
Name: source, dtype: int64

In [150]:
# check to see that there is no null value in the source column
df_twitter_archive_clean['source'][df_twitter_archive_clean['source'].isnull()]

Series([], Name: source, dtype: object)

- ``rating_numerator`` values greater than 15 are most likely not correct.there are 25 observations with values greater than 15
about 5 of them were incorrectly extracted from te text column. They are the observations with  values 17,960,75,27, and 50

#### Define
- re-extract the rating numerators for the listed observations
- assign every other invalid rating with a generic value 0
- concatenate back with the initial table

#### Code

In [151]:
# re_extracting the rating_numerator of the listed observations from the text column

mask_2 = df_twitter_archive_clean.rating_numerator.isin([17,960,75,27,50])

rating_num_edit = df_twitter_archive_clean[mask_2].copy()

rating_num_edit['rating_numerator'] = rating_num_edit.text.str.extract(r'(?:\d+?\.?\d+?/?\d+?.+?)?(\d+\.?\d+)/\d+.+?$')

In [152]:
# assigning 0 to every other invalid rating numerator value

mask = df_twitter_archive_clean.rating_numerator > 15

invalid = df_twitter_archive_clean[mask]

mask_1=invalid.rating_numerator.isin([17,960,75,27,50])

invalid = invalid[~mask_1]

invalid.rating_numerator=0

In [153]:
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2175 entries, 0 to 2355
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2175 non-null   int64
 1   timestamp           2175 non-null   object
 2   source              2175 non-null   object
 3   text                2175 non-null   object
 4   expanded_urls       2117 non-null   object
 5   rating_numerator    2175 non-null   int64
 6   rating_denominator  2175 non-null   int64
 7   name                2175 non-null   object
 8   dog_growth_stage    2175 non-null   object
dtypes: int64(3), object(6)
memory usage: 169.9+ KB

In [154]:
# drop the invalid observation from the df_twitter_archive_clean table
df_twitter_archive_clean = df_twitter_archive_clean[~mask]

# concatenating to original table
df_twitter_archive_clean =pd.concat([df_twitter_archive_clean,invalid,rating_num_edit], ignore_index = True)

In [155]:
# convert the rating_numerator columnn to integer
df_twitter_archive_clean.rating_numerator = df_twitter_archive_clean.rating_numerator.astype(float).apply(lambda x: round(x))

#### Test

In [156]:
# checking for any rating_numerator greater than 15
df_twitter_archive_clean.rating_numerator[df_twitter_archive_clean.rating_numerator > 15]

Series([], Name: rating_numerator, dtype: int64)

rating_denominator should be 10. There are 22 observations with values not equal to 10

#### Define
- convert all rating_denominator to 10
- concatenate

#### Code

In [157]:
mask=df_twitter_archive_clean.rating_denominator!=10
invalid_denom = df_twitter_archive_clean[mask].copy()

invalid_denom['rating_denominator'] = 10

df_twitter_archive_clean=df_twitter_archive_clean[df_twitter_archive_clean.rating_denominator==10]

df_twitter_archive_clean = pd.concat([df_twitter_archive_clean,invalid_denom], ignore_index=True)

#### Test

In [158]:
# Checking that all rating_denominators are equal to 10
df_twitter_archive_clean[df_twitter_archive_clean['rating_denominator']!= 10]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_growth_stage]
Index: []

 Observing some unlikely names in the `name` column
- 55 dogs are named **a**
- 2 dogs were named **actually**
- 1 was named **all**
- 7 was named **an**
- 1 was named **by**
- 1 was named **his**
- 4 were named **just**
- 1 was named **life**
- 2 were named **not**
- 1 was named **O**
- 4 were named **one**
- 1 was named **this**
- 1 was named **unacceptable**
- 1 was named **old**
- 1 was named **space**
- 8 was named **the**
- 1 was named **officially**

#### Define 

Extract the correct name from the text column. 

- This will not totally correct the issues all round as there are still some issues with the name column.
- The most common issue and easier to solve is the one with this two patterns.
- ``named ___ `` and ``name is ___``

#### Code

In [159]:
# seperating the dataframe into two based on the list of wrong_name
wrong_name = ['None','a','actually','all','an','by',
              'his','just','life','not','O','one','this',
              'unacceptable','old','such','space','the','officially']

df_wrong_names = df_twitter_archive_clean[df_twitter_archive_clean.name.isin(wrong_name)].copy()
df_right_names = df_twitter_archive_clean[~df_twitter_archive_clean.name.isin(wrong_name)].copy()

In [160]:
df_wrong_names.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 771 entries, 5 to 2173
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            771 non-null    int64
 1   timestamp           771 non-null    object
 2   source              771 non-null    object
 3   text                771 non-null    object
 4   expanded_urls       713 non-null    object
 5   rating_numerator    771 non-null    int64
 6   rating_denominator  771 non-null    int64
 7   name                771 non-null    object
 8   dog_growth_stage    771 non-null    object
dtypes: int64(3), object(6)
memory usage: 60.2+ KB

In [161]:
# extracting the names from the text column for patterns 'named x'
df_wrong_names['name']=df_wrong_names.text.str.extract(r'(?<=named\s)(\w+)')
df_wrong_names_named=df_wrong_names[df_wrong_names['name'].notnull()]
df_wrong_names_2=df_wrong_names[df_wrong_names['name'].isnull()].copy()
df_wrong_names_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748 entries, 5 to 2173
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            748 non-null    int64
 1   timestamp           748 non-null    object
 2   source              748 non-null    object
 3   text                748 non-null    object
 4   expanded_urls       690 non-null    object
 5   rating_numerator    748 non-null    int64
 6   rating_denominator  748 non-null    int64
 7   name                0 non-null      object
 8   dog_growth_stage    748 non-null    object
dtypes: int64(3), object(6)
memory usage: 58.4+ KB

In [162]:
# extracting the names from the text column for patterns 'name is x'
df_wrong_names_2['name']=df_wrong_names_2.text.str.extract(r'(?<=name\sis\s)(\w+)')
df_wrong_names_nameis=df_wrong_names_2[df_wrong_names_2['name'].notnull()]
df_wrong_names_none=df_wrong_names_2[df_wrong_names_2['name'].isnull()]

In [163]:
# Replace nans with 'none'
df_wrong_names_none = df_wrong_names_none.replace(to_replace=np.nan, value='none')

In [164]:
# concatenate the result for the two pattern search
df_wrong_name_solved = pd.concat([df_wrong_names_none,df_wrong_names_nameis,df_wrong_names_named],ignore_index=True)

In [165]:
df_wrong_name_solved.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 771 entries, 0 to 770
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            771 non-null    int64
 1   timestamp           771 non-null    object
 2   source              771 non-null    object
 3   text                771 non-null    object
 4   expanded_urls       770 non-null    object
 5   rating_numerator    771 non-null    int64
 6   rating_denominator  771 non-null    int64
 7   name                771 non-null    object
 8   dog_growth_stage    771 non-null    object
dtypes: int64(3), object(6)
memory usage: 54.3+ KB

In [166]:
# contatenate the result of the names resolution with the rest of the dataframe. 
df_twitter_archive_clean = pd.concat([df_right_names,df_wrong_name_solved],ignore_index = True)

#### Test

In [167]:
# Test to ensure that we have the same number of observations after the whole process
df_twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2175 non-null   int64
 1   timestamp           2175 non-null   object
 2   source              2175 non-null   object
 3   text                2175 non-null   object
 4   expanded_urls       2174 non-null   object
 5   rating_numerator    2175 non-null   int64
 6   rating_denominator  2175 non-null   int64
 7   name                2175 non-null   object
 8   dog_growth_stage    2175 non-null   object
dtypes: int64(3), object(6)
memory usage: 153.1+ KB

In [168]:
# Test to check that all wrong_names have been removed.
df_twitter_archive_clean[df_twitter_archive_clean.name.isin(wrong_name)]

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, dog_growth_stage]
Index: []

### One more tidyness issue
- There are two observational units in these dataset. The dog details and the tweets details.
- we however have three dataframes.

#### Define
- convert the three dataframes into two dataframes each with thier observational unit
- the two observational units are:
> tweet data

> Dog image data

#### Code

In [169]:
# First we will merge the three data sets together
combined_data=df_twitter_archive_clean.merge(df_twitter_response_clean, 
                                             how = 'inner', left_on = 'tweet_id', right_on='id')

master_cleaned =  combined_data.merge(df_image_prediction_clean, how= 'inner', on='tweet_id')

In [170]:
# Separate the combination data based on the two observational unit.
tweet_data_clean=master_cleaned[['tweet_id','timestamp','source',
                                 'text','expanded_urls','rating_numerator',
                                 'rating_denominator','retweet_count','favorite_count','lang']].copy()

image_data_clean=master_cleaned[['tweet_id','img_num','name',
                                 'dog_growth_stage','img_resolution_MP',
                                 'jpg_url','breed']]

#### Test

In [171]:
image_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tweet_id           1096 non-null   int64
 1   img_num            1096 non-null   int64
 2   name               1096 non-null   object
 3   dog_growth_stage   1096 non-null   object
 4   img_resolution_MP  1096 non-null   float64
 5   jpg_url            1096 non-null   object
 6   breed              1096 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 68.5+ KB

In [172]:
tweet_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1096 non-null   int64
 1   timestamp           1096 non-null   object
 2   source              1096 non-null   object
 3   text                1096 non-null   object
 4   expanded_urls       1096 non-null   object
 5   rating_numerator    1096 non-null   int64
 6   rating_denominator  1096 non-null   int64
 7   retweet_count       1096 non-null   int64
 8   favorite_count      1096 non-null   int64
 9   lang                1096 non-null   object
dtypes: int64(5), object(5)
memory usage: 94.2+ KB

### One more Quality issue
Timestamp column is a string type object instead of a datetime object

#### Define
convert the timestamp column to a datetime object

#### Code

In [173]:
# convert to datetime object
tweet_data_clean['timestamp'] = pd.to_datetime(tweet_data_clean['timestamp'])

In [174]:
master_cleaned['timestamp'] = pd.to_datetime(master_cleaned['timestamp'])

In [175]:
master_cleaned.apply(lambda x: x.iloc[0])

tweet_id                                             891815181378084864
timestamp                                     2017-07-31 00:18:03+00:00
source                                               Twitter for iPhone
text                  This is Archie. He is a rare Norwegian Pouncin...
expanded_urls         https://twitter.com/dog_rates/status/891815181...
rating_numerator                                                     12
rating_denominator                                                   10
name                                                             Archie
dog_growth_stage                                                   none
id                                                   891815181378084864
retweet_count                                                      3478
favorite_count                                                    22045
lang                                                                 en
img_resolution_MP                                                  1.92
jpg_url                 https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg
img_num                                                               1
breed                                                         Chihuahua
dtype: object

#### Test

In [176]:
# check to confirm that timestamp is now a datetime object.
tweet_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1096 non-null   int64
 1   timestamp           1096 non-null   datetime64[ns, UTC]
 2   source              1096 non-null   object
 3   text                1096 non-null   object
 4   expanded_urls       1096 non-null   object
 5   rating_numerator    1096 non-null   int64
 6   rating_denominator  1096 non-null   int64
 7   retweet_count       1096 non-null   int64
 8   favorite_count      1096 non-null   int64
 9   lang                1096 non-null   object
dtypes: datetime64[ns, UTC](1), int64(5), object(4)
memory usage: 94.2+ KB

In [177]:
master_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1096 entries, 0 to 1095
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            1096 non-null   int64
 1   timestamp           1096 non-null   datetime64[ns, UTC]
 2   source              1096 non-null   object
 3   text                1096 non-null   object
 4   expanded_urls       1096 non-null   object
 5   rating_numerator    1096 non-null   int64
 6   rating_denominator  1096 non-null   int64
 7   name                1096 non-null   object
 8   dog_growth_stage    1096 non-null   object
 9   id                  1096 non-null   int64
 10  retweet_count       1096 non-null   int64
 11  favorite_count      1096 non-null   int64
 12  lang                1096 non-null   object
 13  img_resolution_MP   1096 non-null   float64
 14  jpg_url             1096 non-null   object
 15  img_num             1096 non-null   int64
 16  breed               1096 non-null   object
dtypes: datetime64[ns, UTC](1), float64(1), int64(7), object(8)
memory usage: 154.1+ KB

### Storing
We will save the cleaned dataset in  csv file for  analysis

In [178]:
tweet_data_clean.to_csv('tweet_data_clean.csv', index=False)

In [179]:
image_data_clean.to_csv('image_data_clean.csv', index=False)

In [180]:
master_cleaned.to_csv('twitter_archive_master.csv',index= False)

Having cleaned our dataset we will now generate insights and visualization based on the information available in the cleaned dataset.

### continued in the notebook (wrangle_act3(Analyze and Visualization))